
.contact {
  /* margin-left: 34rem; */
}


.header {
    font-size: 1.8rem;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
  }
  
  @media (max-width: 1440px) {
    .header {
      font-size: 16px;
      height: 8rem;
    }
  }
  
  @media (max-width: 460px) {
    .header {
      height: 96px;
      font-size: 1.2rem;
    }
  }

  @media ((max-width: 1024px) and (min-width: 640px)) { 
    .contact {
      display: none;
    }
  }

  @media (max-width: 460px) {
    .contact{
      display: none;
    }
  }
  
  .header .header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32rem;
  }

  @media ((max-width: 1280px) and (min-width: 1025px)) { 
    .header .header-inner {
      margin: 0 8rem;
    }
  }

  @media (max-width: 1440px) {
    .header .header-inner {
      margin: 0 10rem;
    }
  }

  @media (max-width: 460px) {
    .header .header-inner {
      margin: 0 2rem;
    }
  }
  
  .header .header-inner .logo {
    font-weight: 700;
    font-size: 3.6rem;
    height: 70px;
  }

  .header .header-inner .logo img {
    height: 75px;
  }
  
  @media (max-width: 1440px) {
    .header .header-inner .logo img {
      height: 65px;
    }
  }
  
  .header .header-inner .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-left: -5rem;
  }

  @media ((max-width: 1280px) and (min-width: 1025px)) { 
    .header .header-inner .nav {
      margin-left: -10vw;
    }
  }
  
  @media (max-width: 1440px) {
    .header .header-inner .nav {
      display: flex;
      margin-left: -7vw;
    }
  }

  @media ((max-width: 1024px) and (min-width: 640px)) { 
    .header .header-inner .nav {
      display: none;
    }
  }

  @media (max-width: 460px) {
    .header .header-inner .nav {
      display: none;
    }
  }
  
  .header .header-inner .nav li {
    list-style: none;
    margin: 0 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40px;
    display: flex;
    align-items: center;
  }

  @media ((max-width: 1280px) and (min-width: 1025px)) { 
    .header .header-inner .nav li {
      margin: 0;
      padding-right: unset;
    }
  }

  .header .header-inner .nav li:hover {
   
  }

  
  .nav-link-transparent {
    text-decoration: none;
    border-bottom: 1px solid #ffffff00;
    white-space: nowrap;
    transition: border-bottom-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 50px;
    width: auto;
  }

  .nav-link-transparent:hover  {
    border-bottom-color: var(--white);
  }

  .nav-link-black {
    text-decoration: none;
    border-bottom: 1px solid #ffffff00;
    white-space: nowrap;
    transition: border-bottom-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 50px;
    width: auto;
    color: black;
  }

  .nav-link-black:hover {
    border-bottom-color: var(--black);
  }

  /*---------------------- Pour le bouton nous contacter ----------------------*/
  
  /* .header .header-inner .contact {
    
  } */
  

  .header .header-inner .contact a {
    color: var(--orange);
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    height: 50px;
    width: auto;
    background-color: var(--psred);
    transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

 @media (max-width: 1440px) {
    .header .header-inner .contact a {
      height: 40px;
    }
  }

  .header .header-inner .contact a:hover {
    color: var(--psred);
    background-color: var(--orange);
  }
  
  @media (max-width: 460px) {
    .header .header-inner .contact a {
      border: none;
    }
  }
  
  .header .header-inner .hamburger-menu {
    height: 56px;
    width: 56px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;
  }
  
  .header .header-inner .hamburger-menu:hover {
    background: #ffffff;
  }
  
  /* breakpoint for the hamburger menu */

  @media (min-width: 1024px) {
    .header .header-inner .hamburger-menu {
      display: none;
    }
  }
  
  @media (max-width: 1024px) {
    .header .header-inner .hamburger-menu  {
      height: 45px;
      width: 45px;
      background-color: var(--psred);
    }
  }

  @media (max-width: 1024px) {
    .header .header-inner .hamburger-menu svg {
      height: 30px;
      width: 30px;
      color: var(--orange);
    }
  }

  .mobile-menu-container {
    display: none;
  }

  @media (max-width: 1024px) {
    .mobile-menu-container {
      display: flex;
      height: 100vh;
      width: 100vw;
      background-color: #0000006e;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .sidebar-container {
    display: none;
  }

  @media (max-width: 1024px) {
    .sidebar-container {
      display: flex;
      height: 100vh;
      width: 70vw;
      background-color: #460403;
      z-index: 20;
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
    }
  }


  .top-sidebar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
  }

  .top-sidebar-icon-container svg {
    height: 35px;
    width: 35px;
    margin-right: 2rem;
    margin-top: 4rem;
    color: #fff;
  }

  .sideBarMenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
  }

  .sidebarItem {
    font-size: 19px;
    height: 65px;
    padding: 0 2rem;
    color: #fff;
  }

  .menu-services {
    position: absolute;
    top: 7.6rem;
    right: 90rem;
    width: auto;
    height: auto;
    background-color: white;
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1440px) {
  .menu-services {
    right: 43vw;
    top: 6.7rem;
  }
}

.menu-services ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.menu-services li {
    height: 4rem;
}

.menu-services li a {
    color: black;
    text-decoration: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    transition: 0.5s ease-in-out;
}

.menu-services li a:hover {
    border-bottom: 1.5px black solid;
}