.service-section {
    height: auto;
    width: 100%;
}

/* @media (max-width: 1440px) {
    .service-section {
        margin-top: -53rem;
    }
  }

  @media (max-width: 1290px) {
    .service-section {
        margin-top: -75rem;
    }
  } */
